<footer>
  <div class="rights-developed-container">
    <span class="rights">Todos os direitos reservados ©</span>
    <span class="rights">Desenvolvido por: Bruno Ramos</span>           
  </div>
  <nav class="footer-navigation">
    <ul class="footer-list">
      <a [routerLink]="['/']">
        <li>Home</li>
      </a>
      <a [routerLink]="['/contatos']">
        <li>Contato</li>
      </a>
      <a [routerLink]="['/fotos']">
        <li>Fotos</li>
      </a>
      <a [routerLink]="['/comentarios']">
        <li>Comentários</li>
      </a>                     
    </ul>
  </nav>
</footer>
