header {
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

#logo {
  width: 150px;
  height: auto;
}

app-nav{width: 60%;}

@media(max-width: 768px){
  .footer-navigation {
    display: block;
    margin-left: 22%;
  }
}
