<section class="contact">
  <div>
    <h2>Comentários</h2>
  </div>
  <div class="container">
    <app-redes-sociais class="app-redes-sociais" />
    <div class="Share">
      <h3>Compartilhe</h3>
    </div>            
    <div class="contactForm">
      <form>
        <h2>Deixe seu Comentário</h2>
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span>Nome</span>
        </div>
        <div class="inputBox">
          <textarea required="required"></textarea>
          <span>Digite sua Comentário...</span>
        </div>
        <div class="inputBox">
          <input type="submit" name="" value="Enviar">                        
        </div>
      </form>
    </div>
  </div>        
</section>