nav {
  width: 60%;
}

ul {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

a {
  list-style: none;
  color: aliceblue;
  cursor: pointer;
  font-size: 19px;
  transition: .5s;
  font-family: 'kdam Thmor Pro', sans-serif;
}

a:hover {
  color: #d21617;
}

@media(max-width: 768px){
  nav {
    display: none;
  }
}
